frontend-react/node_modules/*
frontend-react/public/robots.txt
frontend-react/public/manifest.json
frontend-react/package-lock.json
frontend-react/package.json
frontend-react/src/reportWebVitals.js
frontend-react/src/setupTests.js
frontend-react/src/routes/reportWebVitals.js
frontend-react/src/routes/setupTests.js

testing/*
!testing/test.py

uploads/*

backend-server/venv*
backend-server/models/*

